absl-py
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
cartopy
certifi
cffi
cftime
charset-normalizer
click
cloudpickle
colorcet
comm
contourpy
cycler
dash
dask
debugpy
decorator
defusedxml
executing
fastjsonschema
filelock
flask
fonttools
fqdn
fsspec
geojson
grpcio
h11
h5py
httpcore
httpx
idna
imageio
importlib-metadata
iniconfig
ipykernel
ipython
ipython-pygments-lexers
ipywidgets
isoduration
itsdangerous
jedi
jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
lazy-loader
locket
markdown
markupsafe
matplotlib
matplotlib-inline
mistune
mpmath
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
netcdf4
networkx
notebook-shim
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
overrides
packaging
pandas
pandocfilters
parso
partd
pexpect
pillow
platformdirs
plotly
pluggy
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pycparser
pygments
pyparsing
pyproj
pyshp
pytest
python-dateutil
python-json-logger
pytz
pyyaml
pyzmq
referencing
requests
retrying
rfc3339-validator
rfc3986-validator
rpds-py
scikit-image
scikit-learn
scipy
send2trash
setuptools
shapely
six
sniffio
soupsieve
stack-data
sympy
tensorboard
tensorboard-data-server
terminado
threadpoolctl
tifffile
tinycss2
toolz
torch
torchsummary
torchvision
tornado
tqdm
traitlets
triton
types-python-dateutil
typing-extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
werkzeug
widgetsnbextension
xarray
zipp
